/* Autoplay handling style */
#unmuteContainer {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#unmute {
  margin: 0 auto;
  margin-top: 5%;
  transform: scale(1.5);
}

.idyll-scroll {
  margin-top: 0;
}

.idyll-scroll-text {
  padding: 0 0;
}

.idyll-scroll-text .idyll-step {
  margin: 0;
  padding: 60px;
  background: white;
  font-family: "Noto Sans", sans-serif;
}

.article-header {
  width: 470px;
  max-width: 90vw;
  margin-bottom: 0;
}

.hoverable {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: 20px;
  box-sizing: content-box;
  background-color: none;
  margin: auto auto 3% 50%;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.counts {
  height: 38px;
}

.beatCounts {
  background-color: #f9f9f9;
  padding: 0.8em;
}

button {
  margin: auto auto 6% 40%;
  color: #fff;
  cursor: pointer;
  outline: none;
  background: #edae49;
  border: none;
  height: 25px;
}

button:focus {
  outline: 0;
}

#audioThree {
  /* float: left; */
  height: 5em;
  box-sizing: content-box;
  background-color: none;
}

#audioSixPtr {
  margin: 4% auto auto 60%;
}

#audioSix {
  /* float: left; */
  height: 5em;
  box-sizing: content-box;
  background-color: none;
  /* margin: auto auto auto 25% */
}

/* Idyll divs */
#audioSourceThree,
#audioSourceSix {
  display: inline-block;
}

#audioSourceThree {
  margin: auto auto auto auto;
}

#label3 {
  position: absolute;
  margin: 1% 0 0 10%;
  color: #ff851b;
}

h1 {
  text-align: center;
  color: #edae49;
  font-family: "Anton", sans-serif;
}

h1.hed {
  font-size: 4em;
}

h2 {
  font-size: 1.3em;
  text-align: center;
  font-weight: 600;
}

.byline {
  text-align: center;
}

h3 {
  color: #087e8b;
  text-transform: uppercase;
}

.hoverableAudio {
  cursor: pointer;
  max-height: 100%;
  max-width: 50%;
}

h4 {
  color: #edae49;
  text-align: right;
  font-size: 1.2em;
}

@media (max-width: 560px) {
  button {
    margin: auto auto 10% 30%;
  }
}

@media (min-width: 512px) {
  #audioSourceSix {
    margin: auto auto auto 20%;
  }

  #audioSourceThree {
    margin-left: 10%;
  }
}

@media (max-width: 1000px) {
  .fixed {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1001px) {
  .fixed {
    margin-right: 10vw;
  }
}

@media (min-width: 1100px) {
  .fixed {
    margin-right: 1vw;
  }
}

@media only screen and (min-width: 2000px) {
  .idyll-text-container {
    max-width: 40vw !important;
    font-size: 22px;
    margin-left: 5%;
  }

  .fixed .hoverable {
    transform: scale(1.7);
    margin-bottom: 10vh;
    margin-top: 15vh;
    margin-right: 15vw;
  }

  .article-header {
    width: 100%;
  }

  button {
    margin: auto auto 6% 45%;
  }

  .ptrs {
    transform: scale(1.5);
  }

  .fixed div {
    width: 0%;
  }

  #audioSourceThree {
    margin-left: 20%;
  }
}
